body{
    font-size: 20px;
    margin-left: 3%;
    margin-right: 5%;
    background-color: blanchedalmond;
}
#p1 h1{
    font-family: cursive;
}
nav a{
    padding-left: 5%;
    float: right;
}
span{
    font-style: italic;
}
img{
    float: right;
}