body{
    font-size: 20px;
    margin-left: 4%;
    margin-right: 7%;
    background-color: blanchedalmond;

}
#p1 h1{
    font-family: cursive;
}
nav a{
    padding-left: 5%;
    float: right;
    margin-right: 5%;
}
span{
    font-style: italic;
}
#p1 img{
    float: right:
}
#about img{
    float:;
}
#about li{
    padding-right: 4px;
}

.column{
    float: left;
    padding: 30px;
}
.row::after{
    display: table;
}

#exten{
    float: left;
}
/* footer{
    background-color: cornsilk; */
}