body{
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    background-color: blanchedalmond;

}
#home img{
  margin-left: 200px;
  margin-right: 100px;
}
#p1 h1{
    font-family: cursive;
}
nav a{
    padding-left: 5%;
    float: right;
    margin-right: 5%;
    color: blue;
}
span{
    font-style: italic;
}
#p1 img{
    float: right;
}
#projects li{
    font-style: italic;
}
#about img{
    float:
}

#about li{
    padding-right: 4px;
}

.column{
    float: left;
    padding: 30px;
}
.row::after{
    display: table;
}

.hobbies{
    display: table-cell;
    padding-bottom: 3%;
    /* border-top: 3px solid black; */
}
footer{
    background-color: cornsilk;
    /* float: left; */
}

footer a{
    padding: 40px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: white;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: blanchedalmond
  }
}

